.video-react-big-play-button {
  display: none !important;
}

.movie-detail {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% ;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
