.ant-tabs-ink-bar {
    position: absolute;
    background: #EF4444;
    pointer-events: none;
 }
 .ant-tabs-tab .ant-tabs-tab-btn {
    color: #1C1917 !important; 
    font-weight: 500;
 }

 .ant-tabs-tab .ant-tabs-tab-btn:hover {
    color: #EF4444 !important; 
    font-weight: 500;
 }

 .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #EF4444 !important; 
    font-weight: 500;
 }